body {
	margin: 0;
	padding: 0;
	background: #E3E3E3 url(images/img01.jpg) repeat-x left top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.875em;
	color: #4C4C4C;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #3E3530;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.8em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #FF6C00;
}

a:hover {
}

#wrapper {
	margin: 0 auto;
	padding: 0;
}

/* Header */

#header {
	width: 59.375em;
	margin: 0 auto;
	height: 6.45em;
	padding: 0em 0em 0em 1.875em;
}

audio { 
   display:none;
}
/* Menu */

#menu {
	float: right;
	width: 35em;
	height: 6em;
	margin: 0 auto;
	padding: 0;
}

#menu ul {
	margin: 0;
	padding: 0em 0em 0em 0em;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	height: 2.1em;
	margin-right: 0.0625em;
	padding: 2.9em 1.7em 0em 1.7em;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.86em;
	font-weight: bold;
	color: #FFFFFF;
	border: none;
	transition: 0.5s;
}

#menu a:hover {  /* Hace que la pestaña se marque en naranja cuando se pasa el raton por encima*/
	background: #FF6C00;
	text-decoration: none;
	transition: 0.5s;
}

#menu .pestañaActual a {  /* Hace que la pestaña activa se marque en naranja */
	background: #FF6C00 url(images/img02.jpg) no-repeat left top;
	text-decoration: none;
}

#imgGit{
	height:25%;
	width: 25%;
	margin-bottom: 3%;
	margin-left: 38%;
}

#imgXampp{
	height:25%;
	width: 25%;
	margin-bottom: 3%;
	margin-top: -3%;
	margin-left: 38%;
}

#imgProxmox{
	margin-bottom: 3%;
	margin-top: -3%;
	margin-left: 5%;
}

video{
	margin-bottom:4%;
	margin-left: 30%;
}
/* Page */

#page {
	width: 71em;
	margin: 0 auto;
	padding: 0em 0em 0em 0em;
}

#page-top {
	padding: 3.8em 0em 0em 0em;
}


.segmento {
	margin-bottom: 1.7em;
}

.segmento .titulo {
	height: 1.3em;
	padding: 0.4em 0em 0.4em 0.7em;
	letter-spacing: -3px;
}

.segmento .texto {
	padding: 0em 0.7em 0.625em 1.875em;
	padding-bottom: 1.25em;
	border-bottom: 0.0625em solid #B3B3B3;
	text-align: justify;
}

.error {
	background-color:rgb(255, 102, 0, 0.3);
	border-style: solid;
	margin: 1em;
	padding: 1em;
}
.error h3{
	color:rgb(128, 0, 0); /* rojo */
}

/* Footer */

#footer {
	height: 5em;
	margin: 0 auto;
	padding: 0em 0 1em 0;
	background: #000000 url(images/img03.jpg) repeat-x left top;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 5%;
}

#footer p {
	margin: 0;
	padding-top: 3em;
	line-height: normal;
	font-size: 0.9em;
	text-transform: uppercase;
	text-align: center;
	color: #FFFFFF;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:0.5s;
  -moz-animation-duration:0.5s;
  animation-duration:0.5s;
}

.fade-in.one {
    -webkit-animation-duration:0.5s;
  -moz-animation-duration:0.5s;
  animation-duration:0.5s;
}